<%= form_with(model: info_card) do |form| %>
  <% if info_card.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(info_card.errors.count, "error") %> prohibited this info_card from being saved:</h2>

      <ul>
        <% info_card.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div class="form-group mb-3">
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description, cols: 80, rows: 4 %>
  </div>

  <div class="form-group">
    <%= form.submit(info_card.new_record? ? 'Create' : 'Update', class: 'btn btn-primary') %>
  </div>
<% end %>
