<p style="color: green"><%= notice %></p>

<%= render @info_card %>

<div class="d-flex">
  <%= button_to "Edit card", edit_info_card_path(@info_card), method: :get, class: 'btn btn-primary' %>&nbsp;
  <%= button_to "Remove card", @info_card, method: :delete, class: 'btn btn-primary' %>&nbsp;
  <%= button_to "Back to cards", info_cards_path, method: :get, class: 'btn btn-primary' %>
</div>